.container{
  height: 100%;
  width: 100%;
  background-color: #ccc;
}
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}
.image-box{
  position: relative;
  width: 100%;
  height: 56vw;
  max-width: 720px;
  max-height: 405px;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff;
  text-align: center;
  overflow: hidden;
}
.show-360{
  display: inline-block;
  width: 100%;
  height: auto;
  margin: auto;
}
.image-box img{
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
}
.photo-caption-box{
  position: absolute;
  left: 50%;
}
.photo-caption{
  display: inline-block;
  position: relative;
  top: 0;
  left: -50%;
  padding: 1em;
  margin: auto;
  height: auto;
  width: auto;
  text-align: center;
  font-size: 1em;
  color: black;
  background-color: rgb(211,211,211);
  background-color: rgba(211,211,211,0.7);
  z-index: 4;
}
.photo-caption p{
  margin: 0;
}
.window-button{
  top: 40%;
  font-size: 3em;
  color: black;
}
.window-button:hover,
.zoom-in:hover,
.zoom-out:hover{
  color: grey;
}
.left-arrow{
  position: absolute;
  left: 5%;
  width: auto;
  height: auto;
  z-index: 2;
}
.right-arrow{
  position: absolute;
  right: 5%;
  width: auto;
  height: auto;
  z-index: 2;
}
.zoom{
  position: absolute;
  left: 5%;
  bottom: 5%;
  height: 4em;
  width: 20%;
  z-index: 2;
}
.zoom-in,
.zoom-out{
  position: absolute;
  display: inline-block;
  top: 0;
  color: black;
  font-size: 3em;
  z-index: 2;
}
.zoom-in{
  left:0;
}

@media screen and (min-width: 789px){
  .window-button{
    font-size: 4em;
  }
  .zoom-in,
  .zoom-out{
    font-size: 4em;
  }
}
